<% provide(:title, 'All Users') %>

<% if params[:name].present? %>
  <h1>検索結果</h1>
<% else %>
  <h1>ユーザー覧</h1>
<% end %>
<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <div class="pull-right">
    <%= form_tag(users_path, method: "get") do %>
    <%= label_tag :name, "ユーザー検索" %><br>
    <%= text_field_tag :name, params[:name], class: "form-search" %>
    <%= submit_tag "検索", class: "btn btn-primary" %>
    <% end %>
  </div>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
        <% if current_user.admin? %>
          <th class="center"><%= User.human_attribute_name :basic_time %></th>
          <th class="center"><%= User.human_attribute_name :work_time %></th>
        <% end %>
      </tr>
    </thead>
    
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <% if current_user.admin? %>
          <td class="center"><%= format_basic_info(user.basic_time) %></td>
          <td class="center"><%= format_basic_info(user.work_time) %></td>
        <% end %>
        <td>
          <% if current_user.admin? && !current_user?(user) %>
            <%= link_to "基本情報編集", edit_basic_info_user_path(user), class: "btn btn-success" %>
            <%= link_to "削除", user, method: :delete,
                data: { confirm: "削除してよろしいですか？" },
                class: "btn btn-danger pull-right" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>